openapi: 3.0.3
info:
  title: NextSmartShip openapi
  description: NextSmartShip openapi for oms
  version: "1.0"
servers:
  - url: https://omsdev.nextsmartship.com
    description: Development Order Management Service
    variables:
      version:
        default: v1
  - url: https://api.nextsmartship.com
    description: Production Order Management Service
    variables:
      version:
        default: v1
paths:
  /oms/v1/outbound-orders:
    post:
      tags:
        - order
      summary: create_oms_outbound_order order
      operationId: order#create_oms_outbound_order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateOmsOutboundOrderRequestBody"
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OmsOrderResponse"
        "401":
          description: Unauthorized response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - jwt_header_Authorization:
            - api:read
            - api:write
  /oms/v1/outbound-orders/list:
    get:
      tags:
        - order
      summary: get_outbound_order_list order
      operationId: order#get_outbound_order_list
      parameters:
        - name: order_number
          in: query
          description: Order No.
          allowEmptyValue: true
          schema:
            type: array
            items:
              type: string
            description: Order No.
        - name: status_label
          in: query
          description: Status Label(options:all|ready|processing|shipped|cancelled|hold)
          allowEmptyValue: true
          schema:
            type: string
            description: Status Label
        - name: page
          in: query
          description: Page
          allowEmptyValue: true
          schema:
            type: string
            description: Page
        - name: page_size
          in: query
          description: Page Size
          allowEmptyValue: true
          schema:
            type: string
            description: Page Size
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrderListResult"
        "401":
          description: Unauthorized response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - jwt_header_Authorization:
            - api:read
            - api:write
  /oms/v1/outbound-orders/{order_number}:
    get:
      tags:
        - order
      summary: get_outbound_order order
      operationId: order#get_outbound_order#1
      parameters:
        - name: order_number
          in: path
          description: outbound order number
          required: true
          schema:
            type: string
            description: outbound order number
            minLength: 1
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QueryOrderRsp"
        "401":
          description: Unauthorized response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - jwt_header_Authorization:
            - api:read
            - api:write
  /oms/v1/products:
    get:
      tags:
        - product
      summary: products_query product
      operationId: product#products_query
      parameters:
        - name: name
          in: query
          description: name
          allowEmptyValue: true
          schema:
            type: string
            description: name
            maxLength: 50
        - name: sku
          in: query
          description: sku
          allowEmptyValue: true
          schema:
            type: string
            description: sku
        - name: barcode
          in: query
          description: barcode
          allowEmptyValue: true
          schema:
            type: string
            description: barcode
        - name: status
          in: query
          description: status
          allowEmptyValue: true
          schema:
            type: integer
            description: status
            enum:
              - 0
              - 1
              - 10
        - name: attributes
          in: query
          description: attributes
          allowEmptyValue: true
          schema:
            type: array
            items:
              type: string
            description: attributes
        - name: inventory
          in: query
          description: inventory
          allowEmptyValue: true
          schema:
            type: boolean
            description: inventory
            enum:
              - false
              - true
        - name: current
          in: query
          description: current
          allowEmptyValue: true
          schema:
            type: integer
            description: current
            minimum: 1
        - name: page_size
          in: query
          description: page_size
          allowEmptyValue: true
          schema:
            type: integer
            description: page_size
            minimum: 1
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductsQueryRsp"
        "401":
          description: Unauthorized response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - jwt_header_Authorization:
            - api:read
            - api:write
    post:
      tags:
        - product
      summary: batches_create_product product
      operationId: product#batches_create_product
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchesCreateProductRequestBody"
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MultiProductRsp"
        "401":
          description: Unauthorized response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - jwt_header_Authorization:
            - api:read
            - api:write
  /oms/v1/products/{id}:
    get:
      tags:
        - product
      summary: product_detail product
      operationId: product#product_detail
      parameters:
        - name: id
          in: path
          description: id
          required: true
          schema:
            type: integer
            description: id
            format: int32
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductDetailRsp"
        "401":
          description: Unauthorized response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - jwt_header_Authorization:
            - api:read
            - api:write
  /oms/v2/login:
    post:
      tags:
        - user
      summary: user_login user
      operationId: user#user_login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserLoginRequestBody"
            example:
              email: xxx@nextsmartship.com
              password: xxx
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignupRsp"
        "401":
          description: Unauthorized response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: "#/components/schemas/Error"
components:
  schemas:
    ChannelOption:
      type: object
      properties:
        actual_weight:
          type: integer
          description: Actual Weight
          format: int64
        channel_id:
          type: integer
          description: Channel ID
          format: int64
        channel_name:
          type: string
          description: Channel Name
        channel_type:
          type: integer
          description: Channel Type
          format: int64
        channel_type_name:
          type: string
          description: Channel Type Name
        charge_weight:
          type: integer
          description: Charge Weight
          format: int64
        fuel_fee:
          type: number
          description: Fuel Fee
          format: double
        handling_fee:
          type: number
          description: Handling Fee
          format: double
        id:
          type: integer
          description: Channel Cost Id
          format: int64
        max_normal_days:
          type: integer
          description: Max Normal Days
          format: int64
        min_normal_days:
          type: integer
          description: Min Normal Days
          format: int64
        misc_fee:
          type: number
          description: Misc Fee
          format: double
        processing_fee:
          type: number
          description: Processing Fee
          format: double
        registration_fee:
          type: number
          description: Registration Fee
          format: double
        shipping_cost:
          type: number
          description: Shipping Cost
          format: double
        total_fee:
          type: number
          description: Total Fee
          format: double
        vat:
          type: number
          description: Vat
          format: double
        volume_factor:
          type: integer
          description: Volume Factor
          format: int64
        volume_weight:
          type: integer
          description: Volume Weight
          format: int64
      description: Channel Option
    OrderFeeDetail:
      type: object
      properties:
        actual_weight:
          type: integer
          description: Actual Weight(unit g)
          format: int64
        charge_weight:
          type: integer
          description: Charge Weight (unit g)
          format: int64
        currency:
          type: string
          description: Currency
        fuel_fee:
          type: number
          description: Fuel Fee
          format: double
        fulfillment_fee:
          type: number
          description: Shipping fee
          format: double
        handling_fee:
          type: number
          description: handling Fee
          format: double
        max_normal_days:
          type: integer
          description: Max Normal Days
          format: int32
        min_normal_days:
          type: integer
          description: Min Normal Days
          format: int32
        misc_fee:
          type: number
          description: Misc Fee
          format: double
        package_fee:
          type: number
          description: package Fee
          format: double
        processing_fee:
          type: number
          description: Processing Fee
          format: double
        registration_fee:
          type: number
          description: Registration Fee
          format: double
        total_price:
          type: number
          description: Total Fee
          format: double
        vat:
          type: number
          description: VAT
          format: double
        volume_factor:
          type: integer
          description: Volume Factor
          format: int32
        volume_weight:
          type: integer
          description: Volume Weight(unit g)
          format: int64
      required:
        - total_price
        - currency
        - fulfillment_fee
        - fuel_fee
        - processing_fee
        - registration_fee
        - misc_fee
        - handling_fee
        - package_fee
        - vat
        - charge_weight
        - actual_weight
        - volume_weight
        - max_normal_days
        - min_normal_days
    HoldReason:
      type: object
      properties:
        en_reason:
          type: string
          description: en reason
        reason:
          type: string
          description: Hold Reason
        type:
          type: string
          description: Hold Reason Type
      description: Hold Reason
    OrderItem:
      type: object
      properties:
        barcode:
          type: string
          description: barcode
        listing_sku:
          type: string
          description: Listing SKU
        name:
          type: string
          description: Name
        qty:
          type: integer
          description: Qty
          format: int64
        sku:
          type: string
          description: SKU
      description: List Order Item
    PlatformInfo:
      type: object
      properties:
        cancelled_at:
          type: string
          description: Cancelled At
        closed_at:
          type: string
          description: Closed At
        created_at:
          type: string
          description: platform created at
        fulfillment_status:
          type: string
          description: platform fulfillment status
        not_accept_update:
          type: boolean
          description: not accept platform update
        order_id:
          type: string
          description: platform order id
        order_link:
          type: string
          description: Platform Order Link
        order_no:
          type: string
          description: platform order no
        paid_status:
          type: string
          description: Paid status
        platform_status:
          type: string
          description: Platform Status
        tags:
          type: array
          items:
            type: string
          description: platform tags
    OrderListItemShipInfo:
      type: object
      properties:
        shipping_country:
          type: string
          description: Shipping Country
        shipping_name:
          type: string
          description: Shipping Name
        zip_code:
          type: string
          description: Shipping Phone
      description: Order List Item Ship Info
    ListItem:
      type: object
      properties:
        cancel_status:
          type: integer
          description: Cancel Status
          format: int64
        channel_id:
          type: integer
          description: Channel Id
          format: int64
        channel_name:
          type: string
          description: Channel Name
        channel_options:
          type: array
          items:
            $ref: "#/components/schemas/ChannelOption"
          description: Channel Options
        channel_type:
          type: integer
          description: Channel Type
          enum:
            - 1
            - 2
            - 3
        channel_type_name:
          type: string
          description: Channel Type Name
        created_at:
          type: string
          description: Created At
        fee_info:
          $ref: "#/components/schemas/OrderFeeDetail"
        hold_reasons:
          type: array
          items:
            $ref: "#/components/schemas/HoldReason"
          description: Hold Reasons
        hold_status:
          type: boolean
          description: Hold Status
        items:
          type: array
          items:
            $ref: "#/components/schemas/OrderItem"
          description: Items
        nss_tracking_number:
          type: string
          description: NSS Tracking Number
        nss_tracking_url:
          type: string
          description: NSS Tracking URL
        offline:
          type: boolean
          description: offline
        order_number:
          type: string
          description: Order Number
        platform:
          type: string
          description: Platform
        platform_info:
          $ref: "#/components/schemas/PlatformInfo"
        receiver_info:
          $ref: "#/components/schemas/OrderListItemShipInfo"
        request_shipping_date:
          type: string
          description: Request Shipping Date
        ship_date:
          type: string
          description: Ship Date
        status:
          type: integer
          description: Status
          format: int64
        status_name:
          type: string
          description: Status Name
        store_id:
          type: integer
          description: Store Id
          format: int64
        store_name:
          type: string
          description: Store Name
        tags:
          type: array
          items:
            type: string
          description: Tag
        warehouse_id:
          type: integer
          description: Warehouse Id
          format: int64
        warehouse_name:
          type: string
          description: Warehouse Name
      description: Order List Item
      required:
        - tags
    GetOrderListData:
      type: object
      properties:
        list:
          type: array
          items:
            $ref: "#/components/schemas/ListItem"
          description: List
        meta:
          $ref: "#/components/schemas/MetaData"
    GetOrderListResult:
      type: object
      properties:
        code:
          type: integer
          description: code
          format: int64
        data:
          $ref: "#/components/schemas/GetOrderListData"
        message:
          type: string
          description: message
      required:
        - code
        - message
    ProductItem:
      type: object
      properties:
        attributes:
          type: array
          items:
            type: string
          description: attributes
        barcode:
          type: string
          description: barcode
        declared_cn_name:
          type: string
          description: declared_cn_name
        declared_en_name:
          type: string
          description: declare_en_name
        declared_value_in_eur:
          type: number
          description: declared_value_in_eur
          format: double
        declared_value_in_usd:
          type: number
          description: declared_value_in_usd
          format: double
        height:
          type: integer
          description: height
          format: int64
        id:
          type: integer
          description: id
          format: int64
        images:
          type: array
          items:
            type: string
          description: images
        inbound_weight:
          type: integer
          description: inbound_ eight
          format: int64
        inventory:
          type: integer
          description: inventory
          format: int64
        length:
          type: integer
          description: length
          format: int64
        name:
          type: string
          description: name
        sku:
          type: string
          description: sku
        status:
          type: integer
          description: status
          format: int64
        weight:
          type: integer
          description: weight
          format: int64
        width:
          type: integer
          description: width
          format: int64
      description: ProductItem describes product item
      required:
        - id
        - status
        - barcode
        - sku
        - name
        - attributes
        - images
        - inventory
        - weight
        - inbound_weight
        - length
        - width
        - height
        - declared_cn_name
        - declared_en_name
        - declared_value_in_usd
        - declared_value_in_eur
    ProductsQueryRsp:
      type: object
      properties:
        code:
          type: integer
          description: code
          format: int64
        data:
          $ref: "#/components/schemas/ProductsQueryData"
        message:
          type: string
          description: message
      required:
        - code
        - message
    ProductsQueryData:
      type: object
      properties:
        list:
          type: array
          items:
            $ref: "#/components/schemas/ProductItem"
          description: list
        meta:
          $ref: "#/components/schemas/MetaData"
      description: ProductsQueryData describes the query products resp
      required:
        - list
    CreateOmsOutboundOrderRequestBody:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/OmsOrderItemCreateRequest"
          description: order items
          minItems: 1
        mode:
          type: integer
          description: delivery mode(2 warehouse)
          enum:
            - 1
            - 2
            - 3
        note:
          type: string
          description: note
        offline:
          type: boolean
          description: offline
        platform_order_no:
          type: string
          description: platform_order_no
        receiver_info:
          $ref: "#/components/schemas/ShippingAddress"
        warehouse_id:
          type: integer
          description: warehouse
          format: int64
      required:
        - mode
        - offline
        - warehouse_id
        - receiver_info
        - items
    OmsOrderItemCreateRequest:
      type: object
      properties:
        product_id:
          type: integer
          description: product id
          default: 0
          format: int64
        declared_cn_name:
          type: string
          description: declared cn name
        declared_en_name:
          type: string
          description: declared en name
        declared_value_in_eur:
          type: number
          description: declared value in eur（€）
          minimum: 0
        declared_value_in_usd:
          type: number
          description: declared value in usd
          minimum: 0
        hs_code:
          type: string
          description: hs code
        material:
          type: string
          description: Material
          default: ""
        name:
          type: string
          description: name
        sku:
          type: string
          description: sku
          default: ""
        purpose:
          type: string
          description: Purpose
          default: ""
        qty:
          type: integer
          description: 产品数量
          minimum: 1
        requires_shipping:
          type: boolean
          description: requires shipping
          default: true
      required:
        - name
        - qty
        - hs_code
        - declared_value_in_usd
        - declared_value_in_eur
    OmsOrderResponse:
      type: object
      properties:
        code:
          type: integer
          description: code
          format: int64
        data:
          $ref: "#/components/schemas/OmsOrderRspData"
        message:
          type: string
          description: message
      required:
        - code
        - message
    OmsOrderRspData:
      type: object
      properties:
        order_number:
          type: string
          description: order number
      required:
        - order_number
    BatchesCreateProductRequestBody:
      type: object
      properties:
        products:
          type: array
          items:
            $ref: "#/components/schemas/Product"
          description: product info
          minItems: 1
      required:
        - products
    Error:
      type: object
      properties:
        fault:
          type: boolean
          description: Is the error a server-side fault?
        id:
          type: string
          description:
            ID is a unique identifier for this particular occurrence of
            the problem.
        message:
          type: string
          description:
            Message is a human-readable explanation specific to this occurrence
            of the problem.
        name:
          type: string
          description: Name is the name of this class of errors.
        temporary:
          type: boolean
          description: Is the error temporary?
        timeout:
          type: boolean
          description: Is the error a timeout?
      required:
        - name
        - id
        - message
        - temporary
        - timeout
        - fault
    MultiProductData:
      type: object
      properties:
        barcode:
          type: string
          description: barcode
        error_msg:
          type: string
          description: error msg
        product_id:
          type: integer
          description: product id
          format: int64
        product_name:
          type: string
          description: product_name
        sku:
          type: string
          description: sku
        status:
          type: string
          description: status
      description: MultiProductRsp describes the multi product info
      required:
        - product_id
        - status
        - error_msg
        - barcode
        - sku
        - product_name
    MultiProductInfo:
      type: object
      properties:
        products:
          type: array
          items:
            $ref: "#/components/schemas/MultiProductData"
          description: product info
      description: MultiProductRsp describes the multi product info
      required:
        - products
    MultiProductRsp:
      type: object
      properties:
        code:
          type: integer
          description: code
          format: int64
        data:
          $ref: "#/components/schemas/MultiProductInfo"
        message:
          type: string
          description: message
      required:
        - code
        - message
    OrderData:
      type: object
      properties:
        customer_order_id:
          type: string
          description: customer order id
          maxLength: 50
        items:
          type: array
          items:
            $ref: "#/components/schemas/OutboundOrderItem"
          description: items
        order_number:
          type: string
          description: outbound order number
        status:
          type: integer
          description: order status
          format: int64
        tracking_number:
          type: string
          description: tracking number
        tracking_url:
          type: string
          description: tracking url
      required:
        - customer_order_id
        - status
        - order_number
        - tracking_number
        - tracking_url
        - items
    OutboundOrderItem:
      type: object
      properties:
        declared_cn_name:
          type: string
          description: declared cn name
        declared_en_name:
          type: string
          description: declared en name
        declared_value_in_eur:
          type: number
          description: declared value in eur（€）
          minimum: 0
        declared_value_in_usd:
          type: number
          description: declared value in usd
          minimum: 0
        ext_order_item_id:
          type: string
          description: Ext. order item id
        ext_product_id:
          type: string
          description: Ext. order item id
        hs_code:
          type: string
          description: hs code
        material:
          type: string
          description: Material
          default: ""
        platform_product_id:
          type: integer
          description: Ext. order item id
          format: int32
        product_attributes:
          type: array
          items:
            type: string
          description: product attributes
        product_barcode:
          type: string
          description: 产品barcode
        product_height:
          type: integer
          description: product height
          format: int64
        product_length:
          type: integer
          description: product length
          format: int64
        product_name:
          type: string
          description: product name
        product_price:
          type: number
          description: product price
          format: double
        product_sku:
          type: string
          description: product SKU
        product_weight:
          type: integer
          description: product weight
          format: int64
        product_width:
          type: integer
          description: product width
          format: int64
        purpose:
          type: string
          description: Purpose
          default: ""
        qty:
          type: integer
          description: 产品数量
          format: int64
        requires_shipping:
          type: boolean
          description: requires shipping
      required:
        - product_name
        - product_sku
        - product_price
        - qty
        - hs_code
        - declared_cn_name
        - declared_en_name
        - declared_value_in_usd
        - product_weight
        - product_length
        - product_width
        - product_height
        - product_attributes
        - product_barcode
        - declared_value_in_eur
    Product:
      type: object
      properties:
        attributes:
          type: array
          items:
            type: string
          description: attributes
        barcode:
          type: string
          description: barcode
          maxLength: 50
        barcode_service:
          type: boolean
          description: barcode_service
          enum:
            - false
            - true
        customer_code:
          type: string
          description: customer code
          maxLength: 50
        declared_cn_name:
          type: string
          description: declared cn name
          maxLength: 50
        declared_en_name:
          type: string
          description: declared en name
          maxLength: 50
        declared_value_in_eur:
          type: number
          description: declared value in eur（€）
          minimum: 0
        declared_value_in_usd:
          type: number
          description: declared value in usd（$）
          minimum: 0
        enabled_nss_barcode:
          type: boolean
          description: need use nss barcode
          enum:
            - false
            - true
        height:
          type: number
          description: height（mm）
          format: double
        hs_code:
          type: string
          description: hs code
          maxLength: 50
        id:
          type: integer
          description: id
          minimum: 1
        images:
          type: array
          items:
            type: string
          description: images
        length:
          type: number
          description: length（mm）
          format: double
        material:
          type: string
          description: Material
          default: ""
        name:
          type: string
          description: name
          maxLength: 50
        purpose:
          type: string
          description: Purpose
          default: ""
        qty:
          type: integer
          description: quality
          format: int64
        sku:
          type: string
          description: sku
          maxLength: 50
        weight:
          type: number
          description: weight（g）
          format: double
        width:
          type: number
          description: width（mm）
          format: double
      description: Product describes the create product
      required:
        - sku
        - name
        - declared_en_name
        - declared_cn_name
        - declared_value_in_usd
        - weight
        - length
        - width
        - height
        - hs_code
        - barcode
        - attributes
        - customer_code
        - declared_value_in_eur
    ProductDetailData:
      type: object
      properties:
        attributes:
          type: array
          items:
            type: string
          description: attributes
        barcode:
          type: string
          description: barcode
        barcode_service:
          type: boolean
          description: barcode_service
        declared_cn_name:
          type: string
          description: declared_cn_name
        declared_en_name:
          type: string
          description: declare_en_name
        declared_value_in_eur:
          type: number
          description: declared_value_in_eur
          format: double
        declared_value_in_usd:
          type: number
          description: declared_value_in_usd
          format: double
        hs_code:
          type: string
          description: hs_code
        id:
          type: integer
          description: id
          format: int32
        images:
          type: array
          items:
            type: string
          description: images
        name:
          type: string
          description: name
        sku:
          type: string
          description: sku
        status:
          type: integer
          description: status
          format: int64
        weight:
          type: number
          description: weight
          format: double
      description: ProductItem describes product item
      required:
        - id
        - status
        - barcode
        - sku
        - name
        - attributes
        - images
        - hs_code
        - declared_cn_name
        - declared_en_name
        - declared_value_in_usd
        - declared_value_in_eur
        - barcode_service
        - weight
    ProductDetailRsp:
      type: object
      properties:
        code:
          type: integer
          description: code
          format: int64
        data:
          $ref: "#/components/schemas/ProductDetailData"
        message:
          type: string
          description: message
      required:
        - code
        - message
    QueryOrderRsp:
      type: object
      properties:
        code:
          type: integer
          description: code
          format: int64
        data:
          $ref: "#/components/schemas/OrderData"
        message:
          type: string
          description: message
      required:
        - code
        - message
    ShippingAddress:
      type: object
      properties:
        address1:
          type: string
          description: Address Line 1
        address2:
          type: string
          description: Address Line 2
        certificate_code:
          type: string
          description: certificate code
        certificate_period:
          type: string
          description: certificate period
        certificate_type:
          type: string
          description: certificate type
          enum:
            - ID
            - PP
        city_name:
          type: string
          description: City Name
        company:
          type: string
          description: company
        country_code:
          type: string
          description: Country code
        country_name:
          type: string
          description: Country Name
        email:
          type: string
          description: email
        first_name:
          type: string
          description: First name
        last_name:
          type: string
          description: Last name
        name:
          type: string
          description: name
        phone_number:
          type: string
          description: Phone number
        state_code:
          type: string
          description: State code
        state_name:
          type: string
          description: State Name
        zip_code:
          type: string
          description: ZIP code
      description: ShippingAddress describes the receiver address
      required:
        - first_name
        - last_name
        - phone_number
        - country_name
        - country_code
        - state_name
        - state_code
        - address1
        - address2
        - city_name
        - zip_code
    MetaData:
      type: object
      properties:
        current:
          type: integer
          description: current
          minimum: 1
        page_size:
          type: integer
          description: page_size
          minimum: 1
        total:
          type: integer
          description: total
          format: int64
      description: MetaData describes the MetaData
      required:
        - current
        - page_size
        - total
    SignupData:
      type: object
      properties:
        token:
          type: string
          description: token
      required:
        - token
    SignupRsp:
      type: object
      properties:
        code:
          type: integer
          description: code
          format: int64
        data:
          $ref: "#/components/schemas/SignupData"
        message:
          type: string
          description: message
      required:
        - code
        - message
    UserLoginRequestBody:
      type: object
      properties:
        email:
          type: string
          description: user login email
        password:
          type: string
          description: user login password
      required:
        - email
        - password
  securitySchemes:
    jwt_header_Authorization:
      type: http
      description:
        Secures endpoint by requiring a valid JWT token retrieved via the
        signin endpoint
      scheme: bearer
tags:
  - name: order
    description: The order service performs operations on order
  - name: product
    description: The product service performs operations on product
  - name: user
    description: The user service performs operations on user
