openapi: 3.0.3
info:
  title: NextSmartShip openapi
  description: NextSmartShip openapi for oms
  version: "1.0"
servers:
  - url: https://api.nextsmartship.com
    description: Production Order Management Service
    variables:
      version:
        default: v1
  - url: https://omsdev.nextsmartship.com
    description: Development Order Management Service
    variables:
      version:
        default: v1
paths:
  /oms/v1/outbound-orders:
    post:
      tags:
        - order
      summary: create_oms_outbound_order order
      operationId: order#create_oms_outbound_order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOmsOutboundOrderRequestBody'
            example:
              items:
                - declared_cn_name: NSS
                  declared_en_name: NSS
                  declared_value_in_eur: 10.07
                  declared_value_in_usd: 10.07
                  hs_code: xxx
                  material: ""
                  name: NSS mate40
                  product_id: 1
                  purpose: ""
                  qty: 1
                  requires_shipping: true
                - declared_cn_name: NSS
                  declared_en_name: NSS
                  declared_value_in_eur: 10.07
                  declared_value_in_usd: 10.07
                  hs_code: xxx
                  material: ""
                  name: NSS mate40
                  sku: XXX
                  purpose: ""
                  qty: 1
                  requires_shipping: true
                - declared_cn_name: NSS
                  declared_en_name: NSS
                  declared_value_in_eur: 10.07
                  declared_value_in_usd: 10.07
                  hs_code: xxx
                  material: ""
                  name: NSS mate40
                  product_id: 1
                  purpose: ""
                  qty: 1
                  requires_shipping: true
              mode: 2
              note: xxx
              offline: false
              platform_order_no: xxx
              receiver_info:
                address1: address1
                address2: address2
                certificate_code: "3455233"
                certificate_period: "2028-01-01"
                certificate_type: ID
                city_name: SZ
                company: China
                country_code: US
                country_name: US
                email: 123@test.com
                first_name: He
                last_name: John
                name: He
                phone_number: 150xxxxxxxx
                state_code: S
                state_name: U
                zip_code: "10016"
              warehouse_id: 1
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OmsOrderResponse'
              example:
                code: 0
                data:
                  order_number: "37942132"
                message: description error information
        "401":
          description: Unauthorized response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
      security:
        - jwt_header_Authorization:
            - api:read
            - api:write
  /oms/v1/outbound-orders/list:
    get:
      tags:
        - order
      summary: get_outbound_order_list order
      operationId: order#get_outbound_order_list
      parameters:
        - name: order_number
          in: query
          description: Order No.
          allowEmptyValue: true
          schema:
            type: array
            items:
              type: string
              example: Id iste non assumenda officia.
            description: Order No.
            example:
              - "1"
              - "2"
          example:
            - "1"
            - "2"
        - name: status_label
          in: query
          description: Status Label
          allowEmptyValue: true
          schema:
            type: string
            description: Status Label
            example: pending
          example: pending
        - name: page
          in: query
          description: Page
          allowEmptyValue: true
          schema:
            type: string
            description: Page
            example: "1"
          example: "1"
        - name: page_size
          in: query
          description: Page Size
          allowEmptyValue: true
          schema:
            type: string
            description: Page Size
            example: "10"
          example: "10"
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderListResult'
              example:
                code: 0
                data:
                  list:
                    - cancel_status: 1
                      channel_id: 10
                      channel_name: Fedex
                      channel_options:
                        - actual_weight: 245433356835184999
                          channel_id: 4104000965870688503
                          channel_name: GLOBAL-A-B&N
                          channel_type: 4755641280190647557
                          channel_type_name: Amazon
                          charge_weight: 12
                          fuel_fee: 12.45
                          handling_fee: 12.45
                          id: 1
                          max_normal_days: 3
                          min_normal_days: 1
                          misc_fee: 12.45
                          processing_fee: 12.45
                          registration_fee: 12.45
                          shipping_cost: 36.73
                          total_fee: 12.45
                          vat: 12.45
                          volume_factor: 7826894083337880722
                          volume_weight: 8105241003724973751
                        - actual_weight: 245433356835184999
                          channel_id: 4104000965870688503
                          channel_name: GLOBAL-A-B&N
                          channel_type: 4755641280190647557
                          channel_type_name: Amazon
                          charge_weight: 12
                          fuel_fee: 12.45
                          handling_fee: 12.45
                          id: 1
                          max_normal_days: 3
                          min_normal_days: 1
                          misc_fee: 12.45
                          processing_fee: 12.45
                          registration_fee: 12.45
                          shipping_cost: 36.73
                          total_fee: 12.45
                          vat: 12.45
                          volume_factor: 7826894083337880722
                          volume_weight: 8105241003724973751
                        - actual_weight: 245433356835184999
                          channel_id: 4104000965870688503
                          channel_name: GLOBAL-A-B&N
                          channel_type: 4755641280190647557
                          channel_type_name: Amazon
                          charge_weight: 12
                          fuel_fee: 12.45
                          handling_fee: 12.45
                          id: 1
                          max_normal_days: 3
                          min_normal_days: 1
                          misc_fee: 12.45
                          processing_fee: 12.45
                          registration_fee: 12.45
                          shipping_cost: 36.73
                          total_fee: 12.45
                          vat: 12.45
                          volume_factor: 7826894083337880722
                          volume_weight: 8105241003724973751
                        - actual_weight: 245433356835184999
                          channel_id: 4104000965870688503
                          channel_name: GLOBAL-A-B&N
                          channel_type: 4755641280190647557
                          channel_type_name: Amazon
                          charge_weight: 12
                          fuel_fee: 12.45
                          handling_fee: 12.45
                          id: 1
                          max_normal_days: 3
                          min_normal_days: 1
                          misc_fee: 12.45
                          processing_fee: 12.45
                          registration_fee: 12.45
                          shipping_cost: 36.73
                          total_fee: 12.45
                          vat: 12.45
                          volume_factor: 7826894083337880722
                          volume_weight: 8105241003724973751
                      channel_type: 1
                      channel_type_name: Fastest
                      created_at: "2020-01-01 00:00:00"
                      fee_info:
                        actual_weight: 1000
                        charge_weight: 1000
                        currency: USD
                        fuel_fee: 5
                        fulfillment_fee: 3
                        handling_fee: 5
                        max_normal_days: 1607265350
                        min_normal_days: 1149943555
                        misc_fee: 5
                        package_fee: 5
                        processing_fee: 5
                        registration_fee: 5
                        total_price: 1
                        vat: 5
                        volume_factor: 149724400
                        volume_weight: 1000
                      hold_reasons:
                        - en_reason: Aliquam quibusdam.
                          reason: insufficient stock.
                          type: inventory
                        - en_reason: Aliquam quibusdam.
                          reason: insufficient stock.
                          type: inventory
                      hold_status: false
                      items:
                        - barcode: NSS-BLUE-2021
                          listing_sku: BLUE-2021
                          name: NSS BLUE
                          qty: 1
                          sku: NSS-BLUE-2021
                        - barcode: NSS-BLUE-2021
                          listing_sku: BLUE-2021
                          name: NSS BLUE
                          qty: 1
                          sku: NSS-BLUE-2021
                        - barcode: NSS-BLUE-2021
                          listing_sku: BLUE-2021
                          name: NSS BLUE
                          qty: 1
                          sku: NSS-BLUE-2021
                        - barcode: NSS-BLUE-2021
                          listing_sku: BLUE-2021
                          name: NSS BLUE
                          qty: 1
                          sku: NSS-BLUE-2021
                      nss_tracking_number: "123456789"
                      nss_tracking_url: https://oms.dev.nextsmartship.com/track?s=NSS1244
                      offline: false
                      order_number: "12345"
                      platform: shopify
                      platform_info:
                        cancelled_at: "2020-01-01 00:00:00"
                        closed_at: "2020-01-01 00:00:00"
                        created_at: Quia sed ut itaque aut.
                        fulfillment_status: fulfillment
                        not_accept_update: true
                        order_id: 12344xxx
                        order_link: Perferendis voluptas fugit blanditiis harum.
                        order_no: platform order no
                        paid_status: Paid
                        platform_status: pending
                        tags:
                          - Quo eligendi libero vero consectetur beatae neque.
                          - Dolores est animi ipsa recusandae cumque aut.
                          - Quia error quas eum ea quisquam.
                      receiver_info:
                        shipping_country: US
                        shipping_name: John
                        zip_code: +1 123 456 789
                      request_shipping_date: "2020-01-01 00:00:00"
                      ship_date: "2020-01-01 00:00:00"
                      status: 1
                      status_name: Pending
                      store_id: 1
                      store_name: NSS Demo Store
                      tags:
                        - Molestiae quidem et fugiat vel voluptatem sit.
                        - Incidunt omnis aliquam voluptatem voluptas.
                        - Ipsum ut maxime quam nihil ut.
                        - Doloremque nostrum nam totam amet voluptatem aperiam.
                      warehouse_id: 1
                      warehouse_name: China Warehouse
                    - cancel_status: 1
                      channel_id: 10
                      channel_name: Fedex
                      channel_options:
                        - actual_weight: 245433356835184999
                          channel_id: 4104000965870688503
                          channel_name: GLOBAL-A-B&N
                          channel_type: 4755641280190647557
                          channel_type_name: Amazon
                          charge_weight: 12
                          fuel_fee: 12.45
                          handling_fee: 12.45
                          id: 1
                          max_normal_days: 3
                          min_normal_days: 1
                          misc_fee: 12.45
                          processing_fee: 12.45
                          registration_fee: 12.45
                          shipping_cost: 36.73
                          total_fee: 12.45
                          vat: 12.45
                          volume_factor: 7826894083337880722
                          volume_weight: 8105241003724973751
                        - actual_weight: 245433356835184999
                          channel_id: 4104000965870688503
                          channel_name: GLOBAL-A-B&N
                          channel_type: 4755641280190647557
                          channel_type_name: Amazon
                          charge_weight: 12
                          fuel_fee: 12.45
                          handling_fee: 12.45
                          id: 1
                          max_normal_days: 3
                          min_normal_days: 1
                          misc_fee: 12.45
                          processing_fee: 12.45
                          registration_fee: 12.45
                          shipping_cost: 36.73
                          total_fee: 12.45
                          vat: 12.45
                          volume_factor: 7826894083337880722
                          volume_weight: 8105241003724973751
                        - actual_weight: 245433356835184999
                          channel_id: 4104000965870688503
                          channel_name: GLOBAL-A-B&N
                          channel_type: 4755641280190647557
                          channel_type_name: Amazon
                          charge_weight: 12
                          fuel_fee: 12.45
                          handling_fee: 12.45
                          id: 1
                          max_normal_days: 3
                          min_normal_days: 1
                          misc_fee: 12.45
                          processing_fee: 12.45
                          registration_fee: 12.45
                          shipping_cost: 36.73
                          total_fee: 12.45
                          vat: 12.45
                          volume_factor: 7826894083337880722
                          volume_weight: 8105241003724973751
                        - actual_weight: 245433356835184999
                          channel_id: 4104000965870688503
                          channel_name: GLOBAL-A-B&N
                          channel_type: 4755641280190647557
                          channel_type_name: Amazon
                          charge_weight: 12
                          fuel_fee: 12.45
                          handling_fee: 12.45
                          id: 1
                          max_normal_days: 3
                          min_normal_days: 1
                          misc_fee: 12.45
                          processing_fee: 12.45
                          registration_fee: 12.45
                          shipping_cost: 36.73
                          total_fee: 12.45
                          vat: 12.45
                          volume_factor: 7826894083337880722
                          volume_weight: 8105241003724973751
                      channel_type: 1
                      channel_type_name: Fastest
                      created_at: "2020-01-01 00:00:00"
                      fee_info:
                        actual_weight: 1000
                        charge_weight: 1000
                        currency: USD
                        fuel_fee: 5
                        fulfillment_fee: 3
                        handling_fee: 5
                        max_normal_days: 1607265350
                        min_normal_days: 1149943555
                        misc_fee: 5
                        package_fee: 5
                        processing_fee: 5
                        registration_fee: 5
                        total_price: 1
                        vat: 5
                        volume_factor: 149724400
                        volume_weight: 1000
                      hold_reasons:
                        - en_reason: Aliquam quibusdam.
                          reason: insufficient stock.
                          type: inventory
                        - en_reason: Aliquam quibusdam.
                          reason: insufficient stock.
                          type: inventory
                      hold_status: false
                      items:
                        - barcode: NSS-BLUE-2021
                          listing_sku: BLUE-2021
                          name: NSS BLUE
                          qty: 1
                          sku: NSS-BLUE-2021
                        - barcode: NSS-BLUE-2021
                          listing_sku: BLUE-2021
                          name: NSS BLUE
                          qty: 1
                          sku: NSS-BLUE-2021
                        - barcode: NSS-BLUE-2021
                          listing_sku: BLUE-2021
                          name: NSS BLUE
                          qty: 1
                          sku: NSS-BLUE-2021
                        - barcode: NSS-BLUE-2021
                          listing_sku: BLUE-2021
                          name: NSS BLUE
                          qty: 1
                          sku: NSS-BLUE-2021
                      nss_tracking_number: "123456789"
                      nss_tracking_url: https://oms.dev.nextsmartship.com/track?s=NSS1244
                      offline: false
                      order_number: "12345"
                      platform: shopify
                      platform_info:
                        cancelled_at: "2020-01-01 00:00:00"
                        closed_at: "2020-01-01 00:00:00"
                        created_at: Quia sed ut itaque aut.
                        fulfillment_status: fulfillment
                        not_accept_update: true
                        order_id: 12344xxx
                        order_link: Perferendis voluptas fugit blanditiis harum.
                        order_no: platform order no
                        paid_status: Paid
                        platform_status: pending
                        tags:
                          - Quo eligendi libero vero consectetur beatae neque.
                          - Dolores est animi ipsa recusandae cumque aut.
                          - Quia error quas eum ea quisquam.
                      receiver_info:
                        shipping_country: US
                        shipping_name: John
                        zip_code: +1 123 456 789
                      request_shipping_date: "2020-01-01 00:00:00"
                      ship_date: "2020-01-01 00:00:00"
                      status: 1
                      status_name: Pending
                      store_id: 1
                      store_name: NSS Demo Store
                      tags:
                        - Molestiae quidem et fugiat vel voluptatem sit.
                        - Incidunt omnis aliquam voluptatem voluptas.
                        - Ipsum ut maxime quam nihil ut.
                        - Doloremque nostrum nam totam amet voluptatem aperiam.
                      warehouse_id: 1
                      warehouse_name: China Warehouse
                    - cancel_status: 1
                      channel_id: 10
                      channel_name: Fedex
                      channel_options:
                        - actual_weight: 245433356835184999
                          channel_id: 4104000965870688503
                          channel_name: GLOBAL-A-B&N
                          channel_type: 4755641280190647557
                          channel_type_name: Amazon
                          charge_weight: 12
                          fuel_fee: 12.45
                          handling_fee: 12.45
                          id: 1
                          max_normal_days: 3
                          min_normal_days: 1
                          misc_fee: 12.45
                          processing_fee: 12.45
                          registration_fee: 12.45
                          shipping_cost: 36.73
                          total_fee: 12.45
                          vat: 12.45
                          volume_factor: 7826894083337880722
                          volume_weight: 8105241003724973751
                        - actual_weight: 245433356835184999
                          channel_id: 4104000965870688503
                          channel_name: GLOBAL-A-B&N
                          channel_type: 4755641280190647557
                          channel_type_name: Amazon
                          charge_weight: 12
                          fuel_fee: 12.45
                          handling_fee: 12.45
                          id: 1
                          max_normal_days: 3
                          min_normal_days: 1
                          misc_fee: 12.45
                          processing_fee: 12.45
                          registration_fee: 12.45
                          shipping_cost: 36.73
                          total_fee: 12.45
                          vat: 12.45
                          volume_factor: 7826894083337880722
                          volume_weight: 8105241003724973751
                        - actual_weight: 245433356835184999
                          channel_id: 4104000965870688503
                          channel_name: GLOBAL-A-B&N
                          channel_type: 4755641280190647557
                          channel_type_name: Amazon
                          charge_weight: 12
                          fuel_fee: 12.45
                          handling_fee: 12.45
                          id: 1
                          max_normal_days: 3
                          min_normal_days: 1
                          misc_fee: 12.45
                          processing_fee: 12.45
                          registration_fee: 12.45
                          shipping_cost: 36.73
                          total_fee: 12.45
                          vat: 12.45
                          volume_factor: 7826894083337880722
                          volume_weight: 8105241003724973751
                        - actual_weight: 245433356835184999
                          channel_id: 4104000965870688503
                          channel_name: GLOBAL-A-B&N
                          channel_type: 4755641280190647557
                          channel_type_name: Amazon
                          charge_weight: 12
                          fuel_fee: 12.45
                          handling_fee: 12.45
                          id: 1
                          max_normal_days: 3
                          min_normal_days: 1
                          misc_fee: 12.45
                          processing_fee: 12.45
                          registration_fee: 12.45
                          shipping_cost: 36.73
                          total_fee: 12.45
                          vat: 12.45
                          volume_factor: 7826894083337880722
                          volume_weight: 8105241003724973751
                      channel_type: 1
                      channel_type_name: Fastest
                      created_at: "2020-01-01 00:00:00"
                      fee_info:
                        actual_weight: 1000
                        charge_weight: 1000
                        currency: USD
                        fuel_fee: 5
                        fulfillment_fee: 3
                        handling_fee: 5
                        max_normal_days: 1607265350
                        min_normal_days: 1149943555
                        misc_fee: 5
                        package_fee: 5
                        processing_fee: 5
                        registration_fee: 5
                        total_price: 1
                        vat: 5
                        volume_factor: 149724400
                        volume_weight: 1000
                      hold_reasons:
                        - en_reason: Aliquam quibusdam.
                          reason: insufficient stock.
                          type: inventory
                        - en_reason: Aliquam quibusdam.
                          reason: insufficient stock.
                          type: inventory
                      hold_status: false
                      items:
                        - barcode: NSS-BLUE-2021
                          listing_sku: BLUE-2021
                          name: NSS BLUE
                          qty: 1
                          sku: NSS-BLUE-2021
                        - barcode: NSS-BLUE-2021
                          listing_sku: BLUE-2021
                          name: NSS BLUE
                          qty: 1
                          sku: NSS-BLUE-2021
                        - barcode: NSS-BLUE-2021
                          listing_sku: BLUE-2021
                          name: NSS BLUE
                          qty: 1
                          sku: NSS-BLUE-2021
                        - barcode: NSS-BLUE-2021
                          listing_sku: BLUE-2021
                          name: NSS BLUE
                          qty: 1
                          sku: NSS-BLUE-2021
                      nss_tracking_number: "123456789"
                      nss_tracking_url: https://oms.dev.nextsmartship.com/track?s=NSS1244
                      offline: false
                      order_number: "12345"
                      platform: shopify
                      platform_info:
                        cancelled_at: "2020-01-01 00:00:00"
                        closed_at: "2020-01-01 00:00:00"
                        created_at: Quia sed ut itaque aut.
                        fulfillment_status: fulfillment
                        not_accept_update: true
                        order_id: 12344xxx
                        order_link: Perferendis voluptas fugit blanditiis harum.
                        order_no: platform order no
                        paid_status: Paid
                        platform_status: pending
                        tags:
                          - Quo eligendi libero vero consectetur beatae neque.
                          - Dolores est animi ipsa recusandae cumque aut.
                          - Quia error quas eum ea quisquam.
                      receiver_info:
                        shipping_country: US
                        shipping_name: John
                        zip_code: +1 123 456 789
                      request_shipping_date: "2020-01-01 00:00:00"
                      ship_date: "2020-01-01 00:00:00"
                      status: 1
                      status_name: Pending
                      store_id: 1
                      store_name: NSS Demo Store
                      tags:
                        - Molestiae quidem et fugiat vel voluptatem sit.
                        - Incidunt omnis aliquam voluptatem voluptas.
                        - Ipsum ut maxime quam nihil ut.
                        - Doloremque nostrum nam totam amet voluptatem aperiam.
                      warehouse_id: 1
                      warehouse_name: China Warehouse
                  meta:
                    current: 1
                    page_size: 1
                    total: 1
                message: description error information
        "401":
          description: Unauthorized response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
      security:
        - jwt_header_Authorization:
            - api:read
            - api:write
  /oms/v1/outbound-orders/{order_number}:
    get:
      tags:
        - order
      summary: get_outbound_order order
      operationId: order#get_outbound_order#1
      parameters:
        - name: order_number
          in: path
          description: outbound order number
          required: true
          schema:
            type: string
            description: outbound order number
            example: 1234xxx
            minLength: 1
          example: 1234xxx
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryOrderRsp'
              example:
                code: 0
                data:
                  cancel_status: 1
                  channel_id: 1
                  channel_name: SF
                  created_at: Qui dolores modi corporis qui.
                  customer_code: Possimus quos.
                  customer_order_id: xxx1234
                  fee_info:
                    actual_weight: 1000
                    charge_weight: 1000
                    currency: USD
                    fuel_fee: 5
                    fulfillment_fee: 3
                    handling_fee: 5
                    max_normal_days: 1607265350
                    min_normal_days: 1149943555
                    misc_fee: 5
                    package_fee: 5
                    processing_fee: 5
                    registration_fee: 5
                    total_price: 1
                    vat: 5
                    volume_factor: 149724400
                    volume_weight: 1000
                  hold_reason:
                    - code: 2035502774
                      en_reason: Accusamus ut doloremque praesentium ea nesciunt.
                      product_id: 4830887142123847081
                      reason: Aut autem totam.
                      type: At delectus deleniti delectus.
                    - code: 2035502774
                      en_reason: Accusamus ut doloremque praesentium ea nesciunt.
                      product_id: 4830887142123847081
                      reason: Aut autem totam.
                      type: At delectus deleniti delectus.
                    - code: 2035502774
                      en_reason: Accusamus ut doloremque praesentium ea nesciunt.
                      product_id: 4830887142123847081
                      reason: Aut autem totam.
                      type: At delectus deleniti delectus.
                  hold_status: false
                  inbound_order_number: Optio rerum amet est consequatur illum.
                  items:
                    - declared_cn_name: NSS
                      declared_en_name: NSS
                      declared_value_in_eur: 10.07
                      declared_value_in_usd: 10.07
                      ext_order_item_id: Quo rerum.
                      ext_product_id: Aut consequatur.
                      hs_code: xxx
                      id: 123
                      images:
                        - Voluptates ipsa accusamus sed eum qui autem.
                        - Rerum quod commodi sapiente aut nam recusandae.
                        - Esse consequatur quia autem voluptatem laboriosam iste.
                        - Quo praesentium ipsam quidem qui voluptatem.
                      listing_qty: 1
                      material: ""
                      platform_product_id: 4688370480807507131
                      product_attributes:
                        - battery
                        - cosmetic
                        - liquid
                        - magnetic
                      product_barcode: xxx
                      product_height: 10
                      product_id: 123
                      product_length: 10
                      product_name: NSS mate40
                      product_price: 10.3
                      product_sku: xxxx
                      product_weight: 10
                      product_width: 10
                      purpose: ""
                      qty: 1
                      requires_shipping: true
                    - declared_cn_name: NSS
                      declared_en_name: NSS
                      declared_value_in_eur: 10.07
                      declared_value_in_usd: 10.07
                      ext_order_item_id: Quo rerum.
                      ext_product_id: Aut consequatur.
                      hs_code: xxx
                      id: 123
                      images:
                        - Voluptates ipsa accusamus sed eum qui autem.
                        - Rerum quod commodi sapiente aut nam recusandae.
                        - Esse consequatur quia autem voluptatem laboriosam iste.
                        - Quo praesentium ipsam quidem qui voluptatem.
                      listing_qty: 1
                      material: ""
                      platform_product_id: 4688370480807507131
                      product_attributes:
                        - battery
                        - cosmetic
                        - liquid
                        - magnetic
                      product_barcode: xxx
                      product_height: 10
                      product_id: 123
                      product_length: 10
                      product_name: NSS mate40
                      product_price: 10.3
                      product_sku: xxxx
                      product_weight: 10
                      product_width: 10
                      purpose: ""
                      qty: 1
                      requires_shipping: true
                    - declared_cn_name: NSS
                      declared_en_name: NSS
                      declared_value_in_eur: 10.07
                      declared_value_in_usd: 10.07
                      ext_order_item_id: Quo rerum.
                      ext_product_id: Aut consequatur.
                      hs_code: xxx
                      id: 123
                      images:
                        - Voluptates ipsa accusamus sed eum qui autem.
                        - Rerum quod commodi sapiente aut nam recusandae.
                        - Esse consequatur quia autem voluptatem laboriosam iste.
                        - Quo praesentium ipsam quidem qui voluptatem.
                      listing_qty: 1
                      material: ""
                      platform_product_id: 4688370480807507131
                      product_attributes:
                        - battery
                        - cosmetic
                        - liquid
                        - magnetic
                      product_barcode: xxx
                      product_height: 10
                      product_id: 123
                      product_length: 10
                      product_name: NSS mate40
                      product_price: 10.3
                      product_sku: xxxx
                      product_weight: 10
                      product_width: 10
                      purpose: ""
                      qty: 1
                      requires_shipping: true
                    - declared_cn_name: NSS
                      declared_en_name: NSS
                      declared_value_in_eur: 10.07
                      declared_value_in_usd: 10.07
                      ext_order_item_id: Quo rerum.
                      ext_product_id: Aut consequatur.
                      hs_code: xxx
                      id: 123
                      images:
                        - Voluptates ipsa accusamus sed eum qui autem.
                        - Rerum quod commodi sapiente aut nam recusandae.
                        - Esse consequatur quia autem voluptatem laboriosam iste.
                        - Quo praesentium ipsam quidem qui voluptatem.
                      listing_qty: 1
                      material: ""
                      platform_product_id: 4688370480807507131
                      product_attributes:
                        - battery
                        - cosmetic
                        - liquid
                        - magnetic
                      product_barcode: xxx
                      product_height: 10
                      product_id: 123
                      product_length: 10
                      product_name: NSS mate40
                      product_price: 10.3
                      product_sku: xxxx
                      product_weight: 10
                      product_width: 10
                      purpose: ""
                      qty: 1
                      requires_shipping: true
                  mode: 158171744064274954
                  not_accept_platform_update: true
                  not_accept_platform_update_item: true
                  note: Iusto aut aut ut velit sequi nemo.
                  nss_tracking_number: Quia est aut dolorem vel eaque.
                  nss_tracking_url: Nam accusamus est.
                  offline: true
                  order_number: "123"
                  platform: shopify
                  platform_info:
                    cancelled_at: "2020-01-01 00:00:00"
                    closed_at: "2020-01-01 00:00:00"
                    created_at: Quia sed ut itaque aut.
                    fulfillment_status: fulfillment
                    not_accept_update: true
                    order_id: 12344xxx
                    order_link: Perferendis voluptas fugit blanditiis harum.
                    order_no: platform order no
                    paid_status: Paid
                    platform_status: pending
                    tags:
                      - Quo eligendi libero vero consectetur beatae neque.
                      - Dolores est animi ipsa recusandae cumque aut.
                      - Quia error quas eum ea quisquam.
                  receiver_info:
                    address1: address1
                    address2: address2
                    certificate_code: "3455233"
                    certificate_period: "2028-01-01"
                    certificate_type: ID
                    city_name: SZ
                    company: China
                    country_code: US
                    country_name: US
                    email: 123@test.com
                    first_name: He
                    last_name: John
                    name: He
                    phone_number: 150xxxxxxxx
                    state_code: S
                    state_name: U
                    zip_code: "10016"
                  remark: Aut eos natus libero cupiditate.
                  request_shipping_at: Sequi aut dolorem veniam.
                  ship_date: Id eaque.
                  status: 1
                  status_name: new
                  store_id: 1
                  store_name: ST
                  tax_info:
                    customer_tariff_country_code: xxx
                    customer_tariff_id: 1
                    customer_tariff_number: xxxx
                    customer_tariff_number_type: ioss
                  warehouse_id: 1
                  warehouse_name: SZ
                message: description error information
        "401":
          description: Unauthorized response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
      security:
        - jwt_header_Authorization:
            - api:read
            - api:write
  /oms/v1/products:
    get:
      tags:
        - product
      summary: products_query product
      operationId: product#products_query
      parameters:
        - name: name
          in: query
          description: name
          allowEmptyValue: true
          schema:
            type: string
            description: name
            example: xxx
            maxLength: 50
          example: xxx
        - name: sku
          in: query
          description: sku
          allowEmptyValue: true
          schema:
            type: string
            description: sku
            example: Ut eaque quidem voluptates occaecati.
          example: Rerum qui sapiente rerum sint ab.
        - name: barcode
          in: query
          description: barcode
          allowEmptyValue: true
          schema:
            type: string
            description: barcode
            example: Praesentium consequuntur ipsum.
          example: Blanditiis eos praesentium placeat.
        - name: status
          in: query
          description: status
          allowEmptyValue: true
          schema:
            type: integer
            description: status
            example: 1
            enum:
              - 0
              - 1
              - 10
          example: 1
        - name: attributes
          in: query
          description: attributes
          allowEmptyValue: true
          schema:
            type: array
            items:
              type: string
              example: Quisquam recusandae.
            description: attributes
            example:
              - normal
              - liquid
              - electric
              - cosmetic
              - magnetic
          example:
            - normal
            - liquid
            - electric
            - cosmetic
            - magnetic
        - name: inventory
          in: query
          description: inventory
          allowEmptyValue: true
          schema:
            type: boolean
            description: inventory
            example: false
            enum:
              - false
              - true
          example: false
        - name: current
          in: query
          description: current
          allowEmptyValue: true
          schema:
            type: integer
            description: current
            example: 1
            minimum: 1
          example: 1
        - name: page_size
          in: query
          description: page_size
          allowEmptyValue: true
          schema:
            type: integer
            description: page_size
            example: 1
            minimum: 1
          example: 1
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsQueryRsp'
              example:
                code: 0
                data:
                  list:
                    - attributes:
                        - Impedit eos.
                        - Nesciunt inventore repellendus sunt qui dolorem iusto.
                      barcode: Eveniet in sapiente ut et.
                      declared_cn_name: Harum quaerat optio aut possimus eaque.
                      declared_en_name: Ipsa provident ut aut.
                      declared_value_in_eur: 0.8981417916237528
                      declared_value_in_usd: 0.03746445121771127
                      height: 5293434339534308277
                      id: 6977855505810604620
                      images:
                        - Officia tempore et consectetur magnam.
                        - Mollitia eaque.
                        - Eligendi sed voluptate iure quae eaque suscipit.
                      inbound_weight: 8317200613882175116
                      inventory: 6732317644576720138
                      length: 5509805301871315678
                      name: Rerum molestiae.
                      sku: Omnis nulla doloribus hic.
                      status: 2054953822437866168
                      weight: 6941287392495769747
                      width: 7229126780466010591
                    - attributes:
                        - Impedit eos.
                        - Nesciunt inventore repellendus sunt qui dolorem iusto.
                      barcode: Eveniet in sapiente ut et.
                      declared_cn_name: Harum quaerat optio aut possimus eaque.
                      declared_en_name: Ipsa provident ut aut.
                      declared_value_in_eur: 0.8981417916237528
                      declared_value_in_usd: 0.03746445121771127
                      height: 5293434339534308277
                      id: 6977855505810604620
                      images:
                        - Officia tempore et consectetur magnam.
                        - Mollitia eaque.
                        - Eligendi sed voluptate iure quae eaque suscipit.
                      inbound_weight: 8317200613882175116
                      inventory: 6732317644576720138
                      length: 5509805301871315678
                      name: Rerum molestiae.
                      sku: Omnis nulla doloribus hic.
                      status: 2054953822437866168
                      weight: 6941287392495769747
                      width: 7229126780466010591
                    - attributes:
                        - Impedit eos.
                        - Nesciunt inventore repellendus sunt qui dolorem iusto.
                      barcode: Eveniet in sapiente ut et.
                      declared_cn_name: Harum quaerat optio aut possimus eaque.
                      declared_en_name: Ipsa provident ut aut.
                      declared_value_in_eur: 0.8981417916237528
                      declared_value_in_usd: 0.03746445121771127
                      height: 5293434339534308277
                      id: 6977855505810604620
                      images:
                        - Officia tempore et consectetur magnam.
                        - Mollitia eaque.
                        - Eligendi sed voluptate iure quae eaque suscipit.
                      inbound_weight: 8317200613882175116
                      inventory: 6732317644576720138
                      length: 5509805301871315678
                      name: Rerum molestiae.
                      sku: Omnis nulla doloribus hic.
                      status: 2054953822437866168
                      weight: 6941287392495769747
                      width: 7229126780466010591
                    - attributes:
                        - Impedit eos.
                        - Nesciunt inventore repellendus sunt qui dolorem iusto.
                      barcode: Eveniet in sapiente ut et.
                      declared_cn_name: Harum quaerat optio aut possimus eaque.
                      declared_en_name: Ipsa provident ut aut.
                      declared_value_in_eur: 0.8981417916237528
                      declared_value_in_usd: 0.03746445121771127
                      height: 5293434339534308277
                      id: 6977855505810604620
                      images:
                        - Officia tempore et consectetur magnam.
                        - Mollitia eaque.
                        - Eligendi sed voluptate iure quae eaque suscipit.
                      inbound_weight: 8317200613882175116
                      inventory: 6732317644576720138
                      length: 5509805301871315678
                      name: Rerum molestiae.
                      sku: Omnis nulla doloribus hic.
                      status: 2054953822437866168
                      weight: 6941287392495769747
                      width: 7229126780466010591
                  meta:
                    current: 1
                    page_size: 1
                    total: 1
                message: description error information
        "401":
          description: Unauthorized response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
      security:
        - jwt_header_Authorization:
            - api:read
            - api:write
    post:
      tags:
        - product
      summary: batches_create_product product
      operationId: product#batches_create_product
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchesCreateProductRequestBody'
            example:
              products:
                - Authorization: Consequatur vel omnis rerum ut dolorum.
                  attributes:
                    - liquid
                    - battery
                    - cosmetic
                    - magnetic
                  barcode: xxx
                  barcode_service: false
                  customer_code: xxx
                  declared_cn_name: xxx
                  declared_en_name: xxx
                  declared_value_in_eur: 50
                  declared_value_in_usd: 50
                  enabled_nss_barcode: false
                  error_message: Error ratione commodi explicabo temporibus accusantium
                    cupiditate.
                  height: 2
                  hs_code: xxx
                  id: 1
                  images:
                    - url
                  length: 1
                  material: Perspiciatis animi consequuntur occaecati quia impedit.
                  name: xxx
                  purpose: Voluptatibus et quae provident sit doloribus consequatur.
                  qty: 1
                  sku: xxx
                  token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ
                  weight: 10
                  width: 1
                - Authorization: Consequatur vel omnis rerum ut dolorum.
                  attributes:
                    - liquid
                    - battery
                    - cosmetic
                    - magnetic
                  barcode: xxx
                  barcode_service: false
                  customer_code: xxx
                  declared_cn_name: xxx
                  declared_en_name: xxx
                  declared_value_in_eur: 50
                  declared_value_in_usd: 50
                  enabled_nss_barcode: false
                  error_message: Error ratione commodi explicabo temporibus accusantium
                    cupiditate.
                  height: 2
                  hs_code: xxx
                  id: 1
                  images:
                    - url
                  length: 1
                  material: Perspiciatis animi consequuntur occaecati quia impedit.
                  name: xxx
                  purpose: Voluptatibus et quae provident sit doloribus consequatur.
                  qty: 1
                  sku: xxx
                  token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ
                  weight: 10
                  width: 1
                - Authorization: Consequatur vel omnis rerum ut dolorum.
                  attributes:
                    - liquid
                    - battery
                    - cosmetic
                    - magnetic
                  barcode: xxx
                  barcode_service: false
                  customer_code: xxx
                  declared_cn_name: xxx
                  declared_en_name: xxx
                  declared_value_in_eur: 50
                  declared_value_in_usd: 50
                  enabled_nss_barcode: false
                  error_message: Error ratione commodi explicabo temporibus accusantium
                    cupiditate.
                  height: 2
                  hs_code: xxx
                  id: 1
                  images:
                    - url
                  length: 1
                  material: Perspiciatis animi consequuntur occaecati quia impedit.
                  name: xxx
                  purpose: Voluptatibus et quae provident sit doloribus consequatur.
                  qty: 1
                  sku: xxx
                  token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.TJVA95OrM7E2cBab30RMHrHDcEfxjoYZgeFONFh7HgQ
                  weight: 10
                  width: 1
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiProductRsp'
              example:
                code: 0
                data:
                  products:
                    - barcode: Placeat voluptatibus dicta dolores.
                      error_msg: Qui architecto tempore atque rerum.
                      product_id: 6384773111141110775
                      product_name: Mollitia deleniti.
                      sku: Quia voluptatem eum libero nam animi voluptatibus.
                      status: Minus hic.
                    - barcode: Placeat voluptatibus dicta dolores.
                      error_msg: Qui architecto tempore atque rerum.
                      product_id: 6384773111141110775
                      product_name: Mollitia deleniti.
                      sku: Quia voluptatem eum libero nam animi voluptatibus.
                      status: Minus hic.
                message: description error information
        "401":
          description: Unauthorized response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
      security:
        - jwt_header_Authorization:
            - api:read
            - api:write
  /oms/v1/products/{id}:
    get:
      tags:
        - product
      summary: product_detail product
      operationId: product#product_detail
      parameters:
        - name: id
          in: path
          description: id
          required: true
          schema:
            type: integer
            description: id
            example: 391053004
            format: int32
          example: 1449782002
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetailRsp'
              example:
                code: 0
                data:
                  attributes:
                    - Quisquam est quia sed ut itaque.
                    - Molestias perferendis voluptas fugit blanditiis harum dolores.
                    - Sequi aut dolorem veniam.
                    - Id eaque.
                  barcode: Eligendi libero vero consectetur beatae.
                  barcode_service: false
                  declared_cn_name: Esse consequatur quia autem voluptatem laboriosam
                    iste.
                  declared_en_name: Quo praesentium ipsam quidem qui voluptatem.
                  declared_value_in_eur: 0.24589941213386385
                  declared_value_in_usd: 0.8438727253472236
                  hs_code: Rerum quod commodi sapiente aut nam recusandae.
                  id: 67363161
                  images:
                    - Non ut quia est.
                    - Dolorem vel.
                    - Cupiditate nam accusamus est libero.
                    - Quam voluptates ipsa accusamus sed eum qui.
                  name: Aut soluta quia error quas.
                  sku: Voluptatem dolores est animi ipsa recusandae.
                  status: 6105850920844552794
                  weight: 0.9664335554016978
                message: description error information
        "401":
          description: Unauthorized response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
      security:
        - jwt_header_Authorization:
            - api:read
            - api:write
  /oms/v2/login:
    post:
      tags:
        - user
      summary: user_login user
      operationId: user#user_login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserLoginRequestBody'
            example:
              email: xxx@nextsmartship.com
              password: xxx
      responses:
        "200":
          description: OK response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignupRsp'
              example:
                code: 0
                data:
                  token: Sint mollitia.
                message: description error information
        "401":
          description: Unauthorized response.
          content:
            application/vnd.goa.error:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                id: 3F1FKVRR
                message: Value of ID must be an integer
                name: bad_request
components:
  schemas:
    ChannelOption:
      type: object
      properties:
        actual_weight:
          type: integer
          description: Actual Weight
          example: 6780201607965242864
          format: int64
        channel_id:
          type: integer
          description: Channel ID
          example: 1526701269827527781
          format: int64
        channel_name:
          type: string
          description: Channel Name
          example: GLOBAL-A-B&N
        channel_type:
          type: integer
          description: Channel Type
          example: 2507681892030134152
          format: int64
        channel_type_name:
          type: string
          description: Channel Type Name
          example: Amazon
        charge_weight:
          type: integer
          description: Charge Weight
          example: 12
          format: int64
        fuel_fee:
          type: number
          description: Fuel Fee
          example: 12.45
          format: double
        handling_fee:
          type: number
          description: Handling Fee
          example: 12.45
          format: double
        id:
          type: integer
          description: Channel Cost Id
          example: 1
          format: int64
        max_normal_days:
          type: integer
          description: Max Normal Days
          example: 3
          format: int64
        min_normal_days:
          type: integer
          description: Min Normal Days
          example: 1
          format: int64
        misc_fee:
          type: number
          description: Misc Fee
          example: 12.45
          format: double
        processing_fee:
          type: number
          description: Processing Fee
          example: 12.45
          format: double
        registration_fee:
          type: number
          description: Registration Fee
          example: 12.45
          format: double
        shipping_cost:
          type: number
          description: Shipping Cost
          example: 36.73
          format: double
        total_fee:
          type: number
          description: Total Fee
          example: 12.45
          format: double
        vat:
          type: number
          description: Vat
          example: 12.45
          format: double
        volume_factor:
          type: integer
          description: Volume Factor
          example: 3801974551720012731
          format: int64
        volume_weight:
          type: integer
          description: Volume Weight
          example: 4927393075816778396
          format: int64
      description: Channel Option
      example:
        actual_weight: 5528892410534243099
        channel_id: 7758147045406083977
        channel_name: GLOBAL-A-B&N
        channel_type: 2434080578806830365
        channel_type_name: Amazon
        charge_weight: 12
        fuel_fee: 12.45
        handling_fee: 12.45
        id: 1
        max_normal_days: 3
        min_normal_days: 1
        misc_fee: 12.45
        processing_fee: 12.45
        registration_fee: 12.45
        shipping_cost: 36.73
        total_fee: 12.45
        vat: 12.45
        volume_factor: 5466101510598801820
        volume_weight: 8886619526829561391
    OrderFeeDetail:
      type: object
      properties:
        actual_weight:
          type: integer
          description: Actual Weight(unit g)
          example: 1000
          format: int64
        charge_weight:
          type: integer
          description: Charge Weight (unit g)
          example: 1000
          format: int64
        currency:
          type: string
          description: Currency
          example: USD
        fuel_fee:
          type: number
          description: Fuel Fee
          example: 5
          format: double
        fulfillment_fee:
          type: number
          description: Shipping fee
          example: 3
          format: double
        handling_fee:
          type: number
          description: handling Fee
          example: 5
          format: double
        max_normal_days:
          type: integer
          description: Max Normal Days
          example: 1536936342
          format: int32
        min_normal_days:
          type: integer
          description: Min Normal Days
          example: 812906960
          format: int32
        misc_fee:
          type: number
          description: Misc Fee
          example: 5
          format: double
        package_fee:
          type: number
          description: package Fee
          example: 5
          format: double
        processing_fee:
          type: number
          description: Processing Fee
          example: 5
          format: double
        registration_fee:
          type: number
          description: Registration Fee
          example: 5
          format: double
        total_price:
          type: number
          description: Total Fee
          example: 1
          format: double
        vat:
          type: number
          description: VAT
          example: 5
          format: double
        volume_factor:
          type: integer
          description: Volume Factor
          example: 911308567
          format: int32
        volume_weight:
          type: integer
          description: Volume Weight(unit g)
          example: 1000
          format: int64
      example:
        actual_weight: 1000
        charge_weight: 1000
        currency: USD
        fuel_fee: 5
        fulfillment_fee: 3
        handling_fee: 5
        max_normal_days: 1529452398
        min_normal_days: 1326572585
        misc_fee: 5
        package_fee: 5
        processing_fee: 5
        registration_fee: 5
        total_price: 1
        vat: 5
        volume_factor: 818641678
        volume_weight: 1000
      required:
        - total_price
        - currency
        - fulfillment_fee
        - fuel_fee
        - processing_fee
        - registration_fee
        - misc_fee
        - handling_fee
        - package_fee
        - vat
        - charge_weight
        - actual_weight
        - volume_weight
        - max_normal_days
        - min_normal_days
    HoldReason:
      type: object
      properties:
        en_reason:
          type: string
          description: en reason
          example: Non ut accusamus.
        reason:
          type: string
          description: Hold Reason
          example: insufficient stock.
        type:
          type: string
          description: Hold Reason Type
          example: inventory
      description: Hold Reason
      example:
        en_reason: Cupiditate distinctio.
        reason: insufficient stock.
        type: inventory
    OrderItem:
      type: object
      properties:
        barcode:
          type: string
          description: barcode
          example: NSS-BLUE-2021
        listing_sku:
          type: string
          description: Listing SKU
          example: BLUE-2021
        name:
          type: string
          description: Name
          example: NSS BLUE
        qty:
          type: integer
          description: Qty
          example: 1
          format: int64
        sku:
          type: string
          description: SKU
          example: NSS-BLUE-2021
      description: List Order Item
      example:
        barcode: NSS-BLUE-2021
        listing_sku: BLUE-2021
        name: NSS BLUE
        qty: 1
        sku: NSS-BLUE-2021
    PlatformInfo:
      type: object
      properties:
        cancelled_at:
          type: string
          description: Cancelled At
          example: "2020-01-01 00:00:00"
        closed_at:
          type: string
          description: Closed At
          example: "2020-01-01 00:00:00"
        created_at:
          type: string
          description: platform created at
          example: Deserunt eum adipisci aut eius sunt vel.
        fulfillment_status:
          type: string
          description: platform fulfillment status
          example: fulfillment
        not_accept_update:
          type: boolean
          description: not accept platform update
          example: false
        order_id:
          type: string
          description: platform order id
          example: 12344xxx
        order_link:
          type: string
          description: Platform Order Link
          example: Praesentium autem quaerat et adipisci deserunt unde.
        order_no:
          type: string
          description: platform order no
          example: platform order no
        paid_status:
          type: string
          description: Paid status
          example: Paid
        platform_status:
          type: string
          description: Platform Status
          example: pending
        tags:
          type: array
          items:
            type: string
            example: Vel et qui rerum.
          description: platform tags
          example:
            - Et ratione.
            - Iusto doloremque libero praesentium sed.
            - Et quia est.
            - Est amet voluptate.
      example:
        cancelled_at: "2020-01-01 00:00:00"
        closed_at: "2020-01-01 00:00:00"
        created_at: Omnis hic.
        fulfillment_status: fulfillment
        not_accept_update: true
        order_id: 12344xxx
        order_link: Aspernatur et.
        order_no: platform order no
        paid_status: Paid
        platform_status: pending
        tags:
          - Aliquid numquam nesciunt natus inventore rem rerum.
          - Soluta id dolorum alias quo quo vero.
          - Dolorem tempora fuga consectetur quidem distinctio unde.
    OrderListItemShipInfo:
      type: object
      properties:
        shipping_country:
          type: string
          description: Shipping Country
          example: US
        shipping_name:
          type: string
          description: Shipping Name
          example: John
        zip_code:
          type: string
          description: Shipping Phone
          example: +1 123 456 789
      description: Order List Item Ship Info
      example:
        shipping_country: US
        shipping_name: John
        zip_code: +1 123 456 789
    ListItem:
      type: object
      properties:
        cancel_status:
          type: integer
          description: Cancel Status
          example: 1
          format: int64
        channel_id:
          type: integer
          description: Channel Id
          example: 10
          format: int64
        channel_name:
          type: string
          description: Channel Name
          example: Fedex
        channel_options:
          type: array
          items:
            $ref: '#/components/schemas/ChannelOption'
          description: Channel Options
          example:
            - actual_weight: 245433356835184999
              channel_id: 4104000965870688503
              channel_name: GLOBAL-A-B&N
              channel_type: 4755641280190647557
              channel_type_name: Amazon
              charge_weight: 12
              fuel_fee: 12.45
              handling_fee: 12.45
              id: 1
              max_normal_days: 3
              min_normal_days: 1
              misc_fee: 12.45
              processing_fee: 12.45
              registration_fee: 12.45
              shipping_cost: 36.73
              total_fee: 12.45
              vat: 12.45
              volume_factor: 7826894083337880722
              volume_weight: 8105241003724973751
            - actual_weight: 245433356835184999
              channel_id: 4104000965870688503
              channel_name: GLOBAL-A-B&N
              channel_type: 4755641280190647557
              channel_type_name: Amazon
              charge_weight: 12
              fuel_fee: 12.45
              handling_fee: 12.45
              id: 1
              max_normal_days: 3
              min_normal_days: 1
              misc_fee: 12.45
              processing_fee: 12.45
              registration_fee: 12.45
              shipping_cost: 36.73
              total_fee: 12.45
              vat: 12.45
              volume_factor: 7826894083337880722
              volume_weight: 8105241003724973751
        channel_type:
          type: integer
          description: Channel Type
          example: 1
          enum:
            - 1
            - 2
            - 3
        channel_type_name:
          type: string
          description: Channel Type Name
          example: Fastest
        created_at:
          type: string
          description: Created At
          example: "2020-01-01 00:00:00"
        fee_info:
          $ref: '#/components/schemas/OrderFeeDetail'
        hold_reasons:
          type: array
          items:
            $ref: '#/components/schemas/HoldReason'
          description: Hold Reasons
          example:
            - en_reason: Aliquam quibusdam.
              reason: insufficient stock.
              type: inventory
            - en_reason: Aliquam quibusdam.
              reason: insufficient stock.
              type: inventory
        hold_status:
          type: boolean
          description: Hold Status
          example: false
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
          description: Items
          example:
            - barcode: NSS-BLUE-2021
              listing_sku: BLUE-2021
              name: NSS BLUE
              qty: 1
              sku: NSS-BLUE-2021
            - barcode: NSS-BLUE-2021
              listing_sku: BLUE-2021
              name: NSS BLUE
              qty: 1
              sku: NSS-BLUE-2021
            - barcode: NSS-BLUE-2021
              listing_sku: BLUE-2021
              name: NSS BLUE
              qty: 1
              sku: NSS-BLUE-2021
            - barcode: NSS-BLUE-2021
              listing_sku: BLUE-2021
              name: NSS BLUE
              qty: 1
              sku: NSS-BLUE-2021
        nss_tracking_number:
          type: string
          description: NSS Tracking Number
          example: "123456789"
        nss_tracking_url:
          type: string
          description: NSS Tracking URL
          example: https://oms.dev.nextsmartship.com/track?s=NSS1244
        offline:
          type: boolean
          description: offline
          example: false
        order_number:
          type: string
          description: Order Number
          example: "12345"
        platform:
          type: string
          description: Platform
          example: shopify
        platform_info:
          $ref: '#/components/schemas/PlatformInfo'
        receiver_info:
          $ref: '#/components/schemas/OrderListItemShipInfo'
        request_shipping_date:
          type: string
          description: Request Shipping Date
          example: "2020-01-01 00:00:00"
        ship_date:
          type: string
          description: Ship Date
          example: "2020-01-01 00:00:00"
        status:
          type: integer
          description: Status
          example: 1
          format: int64
        status_name:
          type: string
          description: Status Name
          example: Pending
        store_id:
          type: integer
          description: Store Id
          example: 1
          format: int64
        store_name:
          type: string
          description: Store Name
          example: NSS Demo Store
        tags:
          type: array
          items:
            type: string
            example: Ut ducimus quo vel.
          description: Tag
          example:
            - Autem laudantium ut itaque.
            - Iusto laudantium ipsa quo qui illo.
        warehouse_id:
          type: integer
          description: Warehouse Id
          example: 1
          format: int64
        warehouse_name:
          type: string
          description: Warehouse Name
          example: China Warehouse
      description: Order List Item
      example:
        cancel_status: 1
        channel_id: 10
        channel_name: Fedex
        channel_options:
          - actual_weight: 245433356835184999
            channel_id: 4104000965870688503
            channel_name: GLOBAL-A-B&N
            channel_type: 4755641280190647557
            channel_type_name: Amazon
            charge_weight: 12
            fuel_fee: 12.45
            handling_fee: 12.45
            id: 1
            max_normal_days: 3
            min_normal_days: 1
            misc_fee: 12.45
            processing_fee: 12.45
            registration_fee: 12.45
            shipping_cost: 36.73
            total_fee: 12.45
            vat: 12.45
            volume_factor: 7826894083337880722
            volume_weight: 8105241003724973751
          - actual_weight: 245433356835184999
            channel_id: 4104000965870688503
            channel_name: GLOBAL-A-B&N
            channel_type: 4755641280190647557
            channel_type_name: Amazon
            charge_weight: 12
            fuel_fee: 12.45
            handling_fee: 12.45
            id: 1
            max_normal_days: 3
            min_normal_days: 1
            misc_fee: 12.45
            processing_fee: 12.45
            registration_fee: 12.45
            shipping_cost: 36.73
            total_fee: 12.45
            vat: 12.45
            volume_factor: 7826894083337880722
            volume_weight: 8105241003724973751
          - actual_weight: 245433356835184999
            channel_id: 4104000965870688503
            channel_name: GLOBAL-A-B&N
            channel_type: 4755641280190647557
            channel_type_name: Amazon
            charge_weight: 12
            fuel_fee: 12.45
            handling_fee: 12.45
            id: 1
            max_normal_days: 3
            min_normal_days: 1
            misc_fee: 12.45
            processing_fee: 12.45
            registration_fee: 12.45
            shipping_cost: 36.73
            total_fee: 12.45
            vat: 12.45
            volume_factor: 7826894083337880722
            volume_weight: 8105241003724973751
        channel_type: 1
        channel_type_name: Fastest
        created_at: "2020-01-01 00:00:00"
        fee_info:
          actual_weight: 1000
          charge_weight: 1000
          currency: USD
          fuel_fee: 5
          fulfillment_fee: 3
          handling_fee: 5
          max_normal_days: 1607265350
          min_normal_days: 1149943555
          misc_fee: 5
          package_fee: 5
          processing_fee: 5
          registration_fee: 5
          total_price: 1
          vat: 5
          volume_factor: 149724400
          volume_weight: 1000
        hold_reasons:
          - en_reason: Aliquam quibusdam.
            reason: insufficient stock.
            type: inventory
          - en_reason: Aliquam quibusdam.
            reason: insufficient stock.
            type: inventory
          - en_reason: Aliquam quibusdam.
            reason: insufficient stock.
            type: inventory
        hold_status: false
        items:
          - barcode: NSS-BLUE-2021
            listing_sku: BLUE-2021
            name: NSS BLUE
            qty: 1
            sku: NSS-BLUE-2021
          - barcode: NSS-BLUE-2021
            listing_sku: BLUE-2021
            name: NSS BLUE
            qty: 1
            sku: NSS-BLUE-2021
          - barcode: NSS-BLUE-2021
            listing_sku: BLUE-2021
            name: NSS BLUE
            qty: 1
            sku: NSS-BLUE-2021
        nss_tracking_number: "123456789"
        nss_tracking_url: https://oms.dev.nextsmartship.com/track?s=NSS1244
        offline: false
        order_number: "12345"
        platform: shopify
        platform_info:
          cancelled_at: "2020-01-01 00:00:00"
          closed_at: "2020-01-01 00:00:00"
          created_at: Quia sed ut itaque aut.
          fulfillment_status: fulfillment
          not_accept_update: true
          order_id: 12344xxx
          order_link: Perferendis voluptas fugit blanditiis harum.
          order_no: platform order no
          paid_status: Paid
          platform_status: pending
          tags:
            - Quo eligendi libero vero consectetur beatae neque.
            - Dolores est animi ipsa recusandae cumque aut.
            - Quia error quas eum ea quisquam.
        receiver_info:
          shipping_country: US
          shipping_name: John
          zip_code: +1 123 456 789
        request_shipping_date: "2020-01-01 00:00:00"
        ship_date: "2020-01-01 00:00:00"
        status: 1
        status_name: Pending
        store_id: 1
        store_name: NSS Demo Store
        tags:
          - Perspiciatis deserunt repudiandae quo.
          - Consectetur sed dolor.
        warehouse_id: 1
        warehouse_name: China Warehouse
      required:
        - tags
    GetOrderListData:
      type: object
      properties:
        list:
          type: array
          items:
            $ref: '#/components/schemas/ListItem'
          description: List
          example:
            - cancel_status: 1
              channel_id: 10
              channel_name: Fedex
              channel_options:
                - actual_weight: 245433356835184999
                  channel_id: 4104000965870688503
                  channel_name: GLOBAL-A-B&N
                  channel_type: 4755641280190647557
                  channel_type_name: Amazon
                  charge_weight: 12
                  fuel_fee: 12.45
                  handling_fee: 12.45
                  id: 1
                  max_normal_days: 3
                  min_normal_days: 1
                  misc_fee: 12.45
                  processing_fee: 12.45
                  registration_fee: 12.45
                  shipping_cost: 36.73
                  total_fee: 12.45
                  vat: 12.45
                  volume_factor: 7826894083337880722
                  volume_weight: 8105241003724973751
                - actual_weight: 245433356835184999
                  channel_id: 4104000965870688503
                  channel_name: GLOBAL-A-B&N
                  channel_type: 4755641280190647557
                  channel_type_name: Amazon
                  charge_weight: 12
                  fuel_fee: 12.45
                  handling_fee: 12.45
                  id: 1
                  max_normal_days: 3
                  min_normal_days: 1
                  misc_fee: 12.45
                  processing_fee: 12.45
                  registration_fee: 12.45
                  shipping_cost: 36.73
                  total_fee: 12.45
                  vat: 12.45
                  volume_factor: 7826894083337880722
                  volume_weight: 8105241003724973751
                - actual_weight: 245433356835184999
                  channel_id: 4104000965870688503
                  channel_name: GLOBAL-A-B&N
                  channel_type: 4755641280190647557
                  channel_type_name: Amazon
                  charge_weight: 12
                  fuel_fee: 12.45
                  handling_fee: 12.45
                  id: 1
                  max_normal_days: 3
                  min_normal_days: 1
                  misc_fee: 12.45
                  processing_fee: 12.45
                  registration_fee: 12.45
                  shipping_cost: 36.73
                  total_fee: 12.45
                  vat: 12.45
                  volume_factor: 7826894083337880722
                  volume_weight: 8105241003724973751
                - actual_weight: 245433356835184999
                  channel_id: 4104000965870688503
                  channel_name: GLOBAL-A-B&N
                  channel_type: 4755641280190647557
                  channel_type_name: Amazon
                  charge_weight: 12
                  fuel_fee: 12.45
                  handling_fee: 12.45
                  id: 1
                  max_normal_days: 3
                  min_normal_days: 1
                  misc_fee: 12.45
                  processing_fee: 12.45
                  registration_fee: 12.45
                  shipping_cost: 36.73
                  total_fee: 12.45
                  vat: 12.45
                  volume_factor: 7826894083337880722
                  volume_weight: 8105241003724973751
              channel_type: 1
              channel_type_name: Fastest
              created_at: "2020-01-01 00:00:00"
              fee_info:
                actual_weight: 1000
                charge_weight: 1000
                currency: USD
                fuel_fee: 5
                fulfillment_fee: 3
                handling_fee: 5
                max_normal_days: 1607265350
                min_normal_days: 1149943555
                misc_fee: 5
                package_fee: 5
                processing_fee: 5
                registration_fee: 5
                total_price: 1
                vat: 5
                volume_factor: 149724400
                volume_weight: 1000
              hold_reasons:
                - en_reason: Aliquam quibusdam.
                  reason: insufficient stock.
                  type: inventory
                - en_reason: Aliquam quibusdam.
                  reason: insufficient stock.
                  type: inventory
              hold_status: false
              items:
                - barcode: NSS-BLUE-2021
                  listing_sku: BLUE-2021
                  name: NSS BLUE
                  qty: 1
                  sku: NSS-BLUE-2021
                - barcode: NSS-BLUE-2021
                  listing_sku: BLUE-2021
                  name: NSS BLUE
                  qty: 1
                  sku: NSS-BLUE-2021
                - barcode: NSS-BLUE-2021
                  listing_sku: BLUE-2021
                  name: NSS BLUE
                  qty: 1
                  sku: NSS-BLUE-2021
                - barcode: NSS-BLUE-2021
                  listing_sku: BLUE-2021
                  name: NSS BLUE
                  qty: 1
                  sku: NSS-BLUE-2021
              nss_tracking_number: "123456789"
              nss_tracking_url: https://oms.dev.nextsmartship.com/track?s=NSS1244
              offline: false
              order_number: "12345"
              platform: shopify
              platform_info:
                cancelled_at: "2020-01-01 00:00:00"
                closed_at: "2020-01-01 00:00:00"
                created_at: Quia sed ut itaque aut.
                fulfillment_status: fulfillment
                not_accept_update: true
                order_id: 12344xxx
                order_link: Perferendis voluptas fugit blanditiis harum.
                order_no: platform order no
                paid_status: Paid
                platform_status: pending
                tags:
                  - Quo eligendi libero vero consectetur beatae neque.
                  - Dolores est animi ipsa recusandae cumque aut.
                  - Quia error quas eum ea quisquam.
              receiver_info:
                shipping_country: US
                shipping_name: John
                zip_code: +1 123 456 789
              request_shipping_date: "2020-01-01 00:00:00"
              ship_date: "2020-01-01 00:00:00"
              status: 1
              status_name: Pending
              store_id: 1
              store_name: NSS Demo Store
              tags:
                - Molestiae quidem et fugiat vel voluptatem sit.
                - Incidunt omnis aliquam voluptatem voluptas.
                - Ipsum ut maxime quam nihil ut.
                - Doloremque nostrum nam totam amet voluptatem aperiam.
              warehouse_id: 1
              warehouse_name: China Warehouse
            - cancel_status: 1
              channel_id: 10
              channel_name: Fedex
              channel_options:
                - actual_weight: 245433356835184999
                  channel_id: 4104000965870688503
                  channel_name: GLOBAL-A-B&N
                  channel_type: 4755641280190647557
                  channel_type_name: Amazon
                  charge_weight: 12
                  fuel_fee: 12.45
                  handling_fee: 12.45
                  id: 1
                  max_normal_days: 3
                  min_normal_days: 1
                  misc_fee: 12.45
                  processing_fee: 12.45
                  registration_fee: 12.45
                  shipping_cost: 36.73
                  total_fee: 12.45
                  vat: 12.45
                  volume_factor: 7826894083337880722
                  volume_weight: 8105241003724973751
                - actual_weight: 245433356835184999
                  channel_id: 4104000965870688503
                  channel_name: GLOBAL-A-B&N
                  channel_type: 4755641280190647557
                  channel_type_name: Amazon
                  charge_weight: 12
                  fuel_fee: 12.45
                  handling_fee: 12.45
                  id: 1
                  max_normal_days: 3
                  min_normal_days: 1
                  misc_fee: 12.45
                  processing_fee: 12.45
                  registration_fee: 12.45
                  shipping_cost: 36.73
                  total_fee: 12.45
                  vat: 12.45
                  volume_factor: 7826894083337880722
                  volume_weight: 8105241003724973751
                - actual_weight: 245433356835184999
                  channel_id: 4104000965870688503
                  channel_name: GLOBAL-A-B&N
                  channel_type: 4755641280190647557
                  channel_type_name: Amazon
                  charge_weight: 12
                  fuel_fee: 12.45
                  handling_fee: 12.45
                  id: 1
                  max_normal_days: 3
                  min_normal_days: 1
                  misc_fee: 12.45
                  processing_fee: 12.45
                  registration_fee: 12.45
                  shipping_cost: 36.73
                  total_fee: 12.45
                  vat: 12.45
                  volume_factor: 7826894083337880722
                  volume_weight: 8105241003724973751
                - actual_weight: 245433356835184999
                  channel_id: 4104000965870688503
                  channel_name: GLOBAL-A-B&N
                  channel_type: 4755641280190647557
                  channel_type_name: Amazon
                  charge_weight: 12
                  fuel_fee: 12.45
                  handling_fee: 12.45
                  id: 1
                  max_normal_days: 3
                  min_normal_days: 1
                  misc_fee: 12.45
                  processing_fee: 12.45
                  registration_fee: 12.45
                  shipping_cost: 36.73
                  total_fee: 12.45
                  vat: 12.45
                  volume_factor: 7826894083337880722
                  volume_weight: 8105241003724973751
              channel_type: 1
              channel_type_name: Fastest
              created_at: "2020-01-01 00:00:00"
              fee_info:
                actual_weight: 1000
                charge_weight: 1000
                currency: USD
                fuel_fee: 5
                fulfillment_fee: 3
                handling_fee: 5
                max_normal_days: 1607265350
                min_normal_days: 1149943555
                misc_fee: 5
                package_fee: 5
                processing_fee: 5
                registration_fee: 5
                total_price: 1
                vat: 5
                volume_factor: 149724400
                volume_weight: 1000
              hold_reasons:
                - en_reason: Aliquam quibusdam.
                  reason: insufficient stock.
                  type: inventory
                - en_reason: Aliquam quibusdam.
                  reason: insufficient stock.
                  type: inventory
              hold_status: false
              items:
                - barcode: NSS-BLUE-2021
                  listing_sku: BLUE-2021
                  name: NSS BLUE
                  qty: 1
                  sku: NSS-BLUE-2021
                - barcode: NSS-BLUE-2021
                  listing_sku: BLUE-2021
                  name: NSS BLUE
                  qty: 1
                  sku: NSS-BLUE-2021
                - barcode: NSS-BLUE-2021
                  listing_sku: BLUE-2021
                  name: NSS BLUE
                  qty: 1
                  sku: NSS-BLUE-2021
                - barcode: NSS-BLUE-2021
                  listing_sku: BLUE-2021
                  name: NSS BLUE
                  qty: 1
                  sku: NSS-BLUE-2021
              nss_tracking_number: "123456789"
              nss_tracking_url: https://oms.dev.nextsmartship.com/track?s=NSS1244
              offline: false
              order_number: "12345"
              platform: shopify
              platform_info:
                cancelled_at: "2020-01-01 00:00:00"
                closed_at: "2020-01-01 00:00:00"
                created_at: Quia sed ut itaque aut.
                fulfillment_status: fulfillment
                not_accept_update: true
                order_id: 12344xxx
                order_link: Perferendis voluptas fugit blanditiis harum.
                order_no: platform order no
                paid_status: Paid
                platform_status: pending
                tags:
                  - Quo eligendi libero vero consectetur beatae neque.
                  - Dolores est animi ipsa recusandae cumque aut.
                  - Quia error quas eum ea quisquam.
              receiver_info:
                shipping_country: US
                shipping_name: John
                zip_code: +1 123 456 789
              request_shipping_date: "2020-01-01 00:00:00"
              ship_date: "2020-01-01 00:00:00"
              status: 1
              status_name: Pending
              store_id: 1
              store_name: NSS Demo Store
              tags:
                - Molestiae quidem et fugiat vel voluptatem sit.
                - Incidunt omnis aliquam voluptatem voluptas.
                - Ipsum ut maxime quam nihil ut.
                - Doloremque nostrum nam totam amet voluptatem aperiam.
              warehouse_id: 1
              warehouse_name: China Warehouse
        meta:
          $ref: '#/components/schemas/MetaData'
      example:
        list:
          - cancel_status: 1
            channel_id: 10
            channel_name: Fedex
            channel_options:
              - actual_weight: 245433356835184999
                channel_id: 4104000965870688503
                channel_name: GLOBAL-A-B&N
                channel_type: 4755641280190647557
                channel_type_name: Amazon
                charge_weight: 12
                fuel_fee: 12.45
                handling_fee: 12.45
                id: 1
                max_normal_days: 3
                min_normal_days: 1
                misc_fee: 12.45
                processing_fee: 12.45
                registration_fee: 12.45
                shipping_cost: 36.73
                total_fee: 12.45
                vat: 12.45
                volume_factor: 7826894083337880722
                volume_weight: 8105241003724973751
              - actual_weight: 245433356835184999
                channel_id: 4104000965870688503
                channel_name: GLOBAL-A-B&N
                channel_type: 4755641280190647557
                channel_type_name: Amazon
                charge_weight: 12
                fuel_fee: 12.45
                handling_fee: 12.45
                id: 1
                max_normal_days: 3
                min_normal_days: 1
                misc_fee: 12.45
                processing_fee: 12.45
                registration_fee: 12.45
                shipping_cost: 36.73
                total_fee: 12.45
                vat: 12.45
                volume_factor: 7826894083337880722
                volume_weight: 8105241003724973751
              - actual_weight: 245433356835184999
                channel_id: 4104000965870688503
                channel_name: GLOBAL-A-B&N
                channel_type: 4755641280190647557
                channel_type_name: Amazon
                charge_weight: 12
                fuel_fee: 12.45
                handling_fee: 12.45
                id: 1
                max_normal_days: 3
                min_normal_days: 1
                misc_fee: 12.45
                processing_fee: 12.45
                registration_fee: 12.45
                shipping_cost: 36.73
                total_fee: 12.45
                vat: 12.45
                volume_factor: 7826894083337880722
                volume_weight: 8105241003724973751
              - actual_weight: 245433356835184999
                channel_id: 4104000965870688503
                channel_name: GLOBAL-A-B&N
                channel_type: 4755641280190647557
                channel_type_name: Amazon
                charge_weight: 12
                fuel_fee: 12.45
                handling_fee: 12.45
                id: 1
                max_normal_days: 3
                min_normal_days: 1
                misc_fee: 12.45
                processing_fee: 12.45
                registration_fee: 12.45
                shipping_cost: 36.73
                total_fee: 12.45
                vat: 12.45
                volume_factor: 7826894083337880722
                volume_weight: 8105241003724973751
            channel_type: 1
            channel_type_name: Fastest
            created_at: "2020-01-01 00:00:00"
            fee_info:
              actual_weight: 1000
              charge_weight: 1000
              currency: USD
              fuel_fee: 5
              fulfillment_fee: 3
              handling_fee: 5
              max_normal_days: 1607265350
              min_normal_days: 1149943555
              misc_fee: 5
              package_fee: 5
              processing_fee: 5
              registration_fee: 5
              total_price: 1
              vat: 5
              volume_factor: 149724400
              volume_weight: 1000
            hold_reasons:
              - en_reason: Aliquam quibusdam.
                reason: insufficient stock.
                type: inventory
              - en_reason: Aliquam quibusdam.
                reason: insufficient stock.
                type: inventory
            hold_status: false
            items:
              - barcode: NSS-BLUE-2021
                listing_sku: BLUE-2021
                name: NSS BLUE
                qty: 1
                sku: NSS-BLUE-2021
              - barcode: NSS-BLUE-2021
                listing_sku: BLUE-2021
                name: NSS BLUE
                qty: 1
                sku: NSS-BLUE-2021
              - barcode: NSS-BLUE-2021
                listing_sku: BLUE-2021
                name: NSS BLUE
                qty: 1
                sku: NSS-BLUE-2021
              - barcode: NSS-BLUE-2021
                listing_sku: BLUE-2021
                name: NSS BLUE
                qty: 1
                sku: NSS-BLUE-2021
            nss_tracking_number: "123456789"
            nss_tracking_url: https://oms.dev.nextsmartship.com/track?s=NSS1244
            offline: false
            order_number: "12345"
            platform: shopify
            platform_info:
              cancelled_at: "2020-01-01 00:00:00"
              closed_at: "2020-01-01 00:00:00"
              created_at: Quia sed ut itaque aut.
              fulfillment_status: fulfillment
              not_accept_update: true
              order_id: 12344xxx
              order_link: Perferendis voluptas fugit blanditiis harum.
              order_no: platform order no
              paid_status: Paid
              platform_status: pending
              tags:
                - Quo eligendi libero vero consectetur beatae neque.
                - Dolores est animi ipsa recusandae cumque aut.
                - Quia error quas eum ea quisquam.
            receiver_info:
              shipping_country: US
              shipping_name: John
              zip_code: +1 123 456 789
            request_shipping_date: "2020-01-01 00:00:00"
            ship_date: "2020-01-01 00:00:00"
            status: 1
            status_name: Pending
            store_id: 1
            store_name: NSS Demo Store
            tags:
              - Molestiae quidem et fugiat vel voluptatem sit.
              - Incidunt omnis aliquam voluptatem voluptas.
              - Ipsum ut maxime quam nihil ut.
              - Doloremque nostrum nam totam amet voluptatem aperiam.
            warehouse_id: 1
            warehouse_name: China Warehouse
          - cancel_status: 1
            channel_id: 10
            channel_name: Fedex
            channel_options:
              - actual_weight: 245433356835184999
                channel_id: 4104000965870688503
                channel_name: GLOBAL-A-B&N
                channel_type: 4755641280190647557
                channel_type_name: Amazon
                charge_weight: 12
                fuel_fee: 12.45
                handling_fee: 12.45
                id: 1
                max_normal_days: 3
                min_normal_days: 1
                misc_fee: 12.45
                processing_fee: 12.45
                registration_fee: 12.45
                shipping_cost: 36.73
                total_fee: 12.45
                vat: 12.45
[...]
